.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  /*background-color: blue; */
  height: 75px;
  padding: 20px;
  color: white;
  font-size: 1.7em;
}

.body-section {
  background-color: green;
}

.builtBy {
  margin-top: -17px;
  font-size: 0.5em;
}

.board {
  display: flex;
  justify-content: center;
}

.square {
  background-color: grey;
  height:30px;
  width:30px;
}
.clickedSquare {
  background-color: white;
  height:30px;
  width:30px;
  color: black;
}

.losingSquare {
  background-color: red;
  height:30px;
  width:30px;
}

.flagSquare {
  background-color: green;
  height:30px;
  width:30px;
  font-size: 1.5em;
}

.winnerSquare {
  background-color: blue;
  height:30px;
  width:30px;
}

.smiley {
  height: 30px;
}
